@charset "utf-8";
/* CSS Document */
html
{
	background:no-repeat center center fixed;
	  -webkit-background-size: auto;
	  -moz-background-size: auto;
	  -o-background-size: auto;
	  background-size: auto;
}
body
{
	overflow-y:hidden;
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
#book_shelf
{
	position:absolute;
	padding:60px 50px 90px 50px;
	margin:0px;
	height:auto;
	overflow-x:auto;
	list-style:none;
}
.book
{
	position:relative;
	display:inline-block;
	padding-left:0px;
	padding-right:4px;
	padding-top:44px;
	width:130px;
	cursor:pointer;
	transition:width,height 0.7s cubic-bezier(.7,-0.35,.24,1.24);
}
.book>img
{
	position:relative;
	width:130px;
	top:0px;
	
	opacity:1;
	transition:top, 0.2s cubic-bezier(.7,-0.35,.24,1.24);
}
.book_new:hover>img
{
	top:-34px;
}
#book_shelf>li
{
	display:inline-block;
}
#copyright
{
	position:fixed;
	width:100%;
	left:0px;
	bottom:0px;
	z-index:50;
	background-color:rgba(203,27,69,0.7);
	box-shadow:0px 0px 4px rgba(0,0,0,0.4);
	color:#FFF;
	padding: 8px 0px 8px 0px;
	font-size: 20px;
	cursor:default;
}
#copyright>a
{
	color:#FFF;
	text-decoration:none;
}
#copyright>a:hover
{
	text-decoration:underline;
}
#school_rank
{
	float:left;
	position:fixed;
	left:0px;
	z-index:100;
	width:260px;
	background-color:rgba(255,255,255,0);
	border-radius:3px 3px 0px 0px;
	cursor:pointer;
	transition:top 1s cubic-bezier(.7,-0.35,.24,1.24);
}
#school_rank:hover
{
	bottom:0px;
	background-color:rgba(255,255,255,1);
	box-shadow:0px 0px 4px rgba(0,0,0,0.4);
}
#sr_title
{
	padding: 8px 50px 8px 50px;
	font-size: 20px;
	color:rgb(255,255,255);
	background-color:rgba(203,27,69,0);
	border-radius:3px 3px 0px 0px;
	transition:1s cubic-bezier(.7,-0.35,.24,1.24);
}
#school_rank:hover>#sr_title
{
	background-color:rgba(203,27,69,1);
}
#school_rank>ul
{
	padding:8px 0px 16px 0px;
	margin:0px;
	list-style:none;
	font-family:"STHeiti","STXihei","Microsoft Yahei";
}
#school_rank>ul>li
{
	padding-left:20px;
	color:rgba(203,27,69,0.7);
	text-align:left;
	margin-top:8px;
	font-weight:bolder;
}
.rank_top
{
	background-color:rgba(203,27,69,0.7);
	font-size:12px;
	color:rgb(255,255,255);
	padding-top:4px;
	padding-bottom:4px;
	padding-left:8px;
	padding-right:8px;
	margin-right:6px;
	border-radius:12px;
}
.visited
{
	margin-top:4px;
	margin-left:56px;
	font-size:14px;
	color:#999;
}
#ShowPageContainer
{
	float:left;
	display:none;
	position:fixed;
	width:100%;
	top:0px;
	z-index:500;
	box-shadow:0px 0px 6px (0,0,0,0.6);
	opacity:0;
}
#PageViewer
{
	float:left;
	position:fixed;
	z-index:502;
	transition:0.6s cubic-bezier(1, 0, 0, 1);
	box-shadow:0px 0px 4px rgba(0,0,0,0.2);
}
#Background
{
	
	float:left;
	display:none;
	position:fixed;
	background-color:#FFD600;
	transition:0.6s cubic-bezier(1, 0, 0, 1);
	z-index:501;
}
.spinner {
	display:none;
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position:fixed;
  left:50%;
  top:50%;
  margin-top:-16px;
  margin-left:-45px;
  opacity:0;
  z-index:2000;
  transition:opacity 0.3s cubic-bezier(.46,.32,.03,1.4);
}

.cube1, .cube2 {
  background-color:rgb(203, 27, 69);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite cubic-bezier(.46,.32,.03,1.4);
  animation: cubemove 1.8s infinite cubic-bezier(.46,.32,.03,1.4);
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
#searchBox
{
	position:fixed;
	top:-74px;
	left:0px;
	width:100%;
	padding:35px 0px 20px 0px;
	background-color:rgba(203,27,69,0.7);
	box-shadow:0px 0px 4px rgba(0,0,0,0.4);
	transition:top 0.6s cubic-bezier(.98,-0.89,0,1.94);
	cursor:pointer;
}
#searchInput
{
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	width:1000px;
	font-size:14px;
	outline:none;
	background-color:rgba(255,255,255,1);
	padding:10px;
	border-radius:20px;
	border:0px;
	text-align:center;
}
#searchInput>::-webkit-input-placeholder {
   font-family:"STHeiti","STXihei","Microsoft Yahei";
   color:#E0E0E0;
   font-size:14px;
}

#searchInput>:-moz-placeholder { /* Firefox 18- */
   font-family:"STHeiti","STXihei","Microsoft Yahei"; 
   color:#E0E0E0;
   font-size:14px;
}

#searchInput>::-moz-placeholder {  /* Firefox 19+ */
   font-family:"STHeiti","STXihei","Microsoft Yahei"; 
   color:#E0E0E0;
   font-size:14px;
}

#searchInput>:-ms-input-placeholder {  
   font-family:"STHeiti","STXihei","Microsoft Yahei";
   color:#E0E0E0;
   font-size:14px;
}
#login
{
	float:right;
	position:fixed;
	right:30px;
	bottom:0px;
	z-index:500;
	cursor:pointer;
	padding: 8px 20px 8px 20px;
	font-size: 20px;
	color:rgb(255,255,255);
	cursor:pointer;
	transition:0.3s ease-in-out;
}
#login:hover
{
	background-color:rgba(203,27,69,1);
}
#adminEntry
{
	float:right;
	position:fixed;
	right:115px;
	bottom:0px;
	z-index:500;
	cursor:pointer;
	padding: 8px 20px 8px 20px;
	font-size: 20px;
	color:rgb(255,255,255);
	cursor:pointer;
	transition:0.3s ease-in-out;
}
#adminEntry:hover
{
	background-color:rgba(203,27,69,1);
}
.box
	{
		/*绝对居中*/
		display:none;
		position:absolute;
		margin-top:-88px;
		margin-left:-154px;
		z-index:3600;
		top:50%;
		left:50%;
		
		width: 308px;
		height: 176px;
		
		/*颜色尽量采用rgb，方便做透明度*/
		background-color:rgb(243,243,243);
		
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
	}
	#loginBoxTitle
	{
		background:rgb(203,27,69);
		color:#fff;
		font-size: 21px;
		padding:10px 0px 10px 0px;
	}
	#loginBoxContent
	{
		padding:10px;
	}
	#loginBoxContentInputBox
	{
		background-color:#fff;
		border-radius:3px;
		padding:0px 10px 0px 10px;
	}
	.EditText
	{
		width:100%;
		outline:none;
		text-align:center;
		font-size:18px;
		font-family:"STHeiti","STXihei","Microsoft YaHei";
		padding:8px 0px 8px 0px;
		border:none;
	}
	#loginBoxPasswordEditText
	{
		border-top:1px solid rgb(243,243,243);
	}
	#ForgetPasswordIcon
	{
		position:relative;
		z-index:200;
		float:right;
		background-image:url(../img/help-50.png);
		height: 21px;
		width: 21px;
		background-size:contain;
		top:-28px;
		opacity:0.3;
		cursor:pointer;
	}
	.submitButton
	{
		margin:10px auto 0px auto;
		padding:8px;
		width: 116px;
		background:rgb(203,27,69);
		color:#fff;
		transition:0.2 ease-in-out;
		cursor:pointer;
	}
	.submitButton:hover
	{
		background-color:rgba(203,27,69,0.8)
	}
#loginBG
{
	position:absolute;
	z-index:1000;
	opacity:0;
	display:none;
	top:0px;
	left:0px;
	background-color:rgb(255, 214, 0);
	cursor:pointer;
}
#Progress
{
	display:none;
	position:fixed;
	z-index: 503;
	top:0px;
	width:100%;
	height:8px;
	background-color:rgba(0,0,0,0.1);
	top:-8px;
}
#progressValue
{
	width:0%;
	height:8px;
	background-color:#FFC107;
	transition:width 600ms cubic-bezier(0.19, 1, 0.22, 1);
}
#mainContent
{
	position:fixed;
	left:0px;
	z-index:500;
	background:no-repeat center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	box-shadow:0px 0px 6px rgba(0,0,0,0.4);
}
#UserBookShelf
{
	position:fixed;
	left:0px;
	z-index:10;
	overflow:hidden;
	text-align:left;
	font-size:0px;
}
#SubscriptionShelf
{
	display:inline-block;
	width:200px;
	overflow:hidden;
	margin:0px;
	padding:0px;
	background-color:rgba(0,0,0,0.2);
	text-align:center;
}
#CherishShelf
{
	display:inline-block;
	overflow:hidden;
	margin:0px;
	padding:0px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.6);
}
#LoadingScreen
{
	position:fixed;
	left:0px;
	z-index:1999;
	background-color:rgba(203,27,69,1);
	opacity:1;
}
#bootLoader
{
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-25px;
	margin-top:-25px;
}