@charset "utf-8";
/* CSS Document */
#MagazineList
{
		padding:2%;
		margin:0px;
		list-style:none;
		font-size:0px;
		text-align:center;
}
#MagazineList>li
{
		display:inline-block;
		width:46%;
		margin:2%;
}
#MagazineList>li>img
{
	width:100%;
}
#SchoolRank>ul
{
	padding:0px;
	margin:0px;
	list-style:none;
}
#SchoolRank>ul>li
{
	border-top:1px solid rgba(231,231,231,1);
	padding:10px 0px 10px 30px;
}
#SchoolRanktitle
{
	font-size:24px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:30px;
}
#schoolRankIcon
{
	height:30px;
	width:30px;
}
.ranks
{
	font-size:18px;
	font-weight:bolder;
	padding-bottom:4px;
}
.visited
{
	font-size:14px;
	color:rgba(133,133,133,1);
}